<html>
	<head>
	    <title>Q-Notes</title>
	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
	</head>

	<body>
	    <!-- NavBar -->
		<div id="navbar" class="sidenav">
			<a href="javacscript:void(0)" id="close" class="closebtn">&times; </a>
			<a id="login" href="javacscript:void(0)">Login</a>
			<a id="signup" href="javacscript:void(0)">SignUp</a>
			<a id="new" href="javacscript:void(0)">New Note</a>
			<a id="view" href="javacscript:void(0)">My Notes</a>
		</div>

		<!-- Activate NavBar -->
		<span id="activate"><span>&#9776;</span> Menu</span>

		<!-- Main where content will change with AJAX -->
		<div id="main">
			<h1>Welcome To Quick Note</h1>
		</div>

	</body>
</html>